* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  /* display: block;
  padding: 20px;
  box-shadow: 0px 3px 27px -3px rgba(0, 0, 0, 0.48); */
}
